.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: #475467;
  border-width: 2px 2px 0 0;

}

/* Container of the calendar */
.react-datepicker {
  max-width: 276px;
  border: 1px solid rgb(71, 84, 103);
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  line-height: 1.2;
  background-color: #ffffff;
}

/* Header of the calendar */
.react-datepicker__header {
  min-height: 74px;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(71, 84, 103);
  border-top-left-radius: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 12px;
}

/* Navigation buttons */
.react-datepicker__navigation {
  top: 12px;
  background: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  text-indent: -999em;
  overflow: hidden;
}

.react-datepicker__navigation--previous {
  padding: 4px 8px 4px 7px;
  left: 12px;
  border-color: #475467 !important;
}
.react-datepicker__navigation-icon--previous::before {

  stroke: #475467 !important;
}

.react-datepicker__navigation--next {
  padding: 4px 7px 4px 8px;
  right: 12px;
  color: #475467 !important;
}

.react-datepicker__navigation-icon--next::before {

  border-color: #475467 !important;
}

/* Day cells */
.react-datepicker__day {
  justify-content: center;
  padding-top: 8px;
  align-items: center;
  color: #101828;
  display: inline-block;
  width: 36px;
  height: 32px;
  line-height: 1.2;
  text-align: center;
  margin: unset;
  font-size: 14px;
  font-weight: 400;
}

/* Highlighted and selected days */
.react-datepicker__day--selected,
.react-datepicker__day:hover,
.react-datepicker__day:focus,
.react-datepicker__day:active,
.react-datepicker__day--keyboard-selected {
  width: 36px !important;
  height: 32px !important;
  border-radius: 32px !important;
  background-color: rgb(71, 84, 103) !important;
  color: #F7F7F7 !important;
}

.react-datepicker__day--outside-month {
  color: #475467;
}

.react-datepicker__day-names {
  width: 252px;
  margin-right: auto;
  margin-left: auto;
}

.react-datepicker__day-name {
  width: 36px;
  height: 14px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.4px;
  text-align: center;
  color: #475467;
  text-transform: uppercase;
  margin: 0;
}

.react-datepicker__day--today {

  border: 1px solid rgb(71, 84, 103);
  border-radius: 32px;
}

/* Disabled days */
.react-datepicker__day--disabled {
  color: #ccc;
  cursor: not-allowed;
}

.react-datepicker__month-container {
  float: unset;
}


.react-datepicker-wrapper {
  width: 100%;
}

/* Custom focus style for input */
.react-datepicker__input-container input:focus {
  border-color: rgb(71, 84, 103);
  outline: none;
  box-shadow: 0 0 2px rgb(71, 84, 103, 0.5);
}


.react-datepicker__month {
  margin: 0;
}

.react-datepicker__current-month {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  margin: unset;
  margin-bottom: 14.5px !important;
}

.react-datepicker__month {
  padding: 12px;
  margin: unset;
  text-align: unset;
}

.react-datepicker__week {
  width: 252px;
  margin-right: auto;
  margin-left: auto;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
  border-top: none;
  border-bottom-color: rgb(71, 84, 103);
}

.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before {
  border-bottom: none;
  border-top-color: rgb(71, 84, 103);
}

.react-datepicker-popper[data-placement^="bottom"] {
  margin-top: 0;
}